In [52]:
import pandas as pd

In [53]:
#1.Reading “ML_HW_Data_FisherIris.csv” files
Iris = pd.read_csv('ML_HW_Data_FisherIris.csv', header = None)

In [54]:
Iris.head()

    0   1   2   3  4
0   2  14  33  50  0
1  24  56  31  67  1
2  23  51  31  69  1
3   2  10  36  46  0
4  20  52  30  65  1

In [55]:
#2.Display total number of rows and total number of columns of the matrix “Iris”.
rows = Iris.shape[0]
cols = Iris.shape[1]
print("Total number of rows:" + str(rows))
print("Total number of columns:" + str(cols))

Total number of rows:150
Total number of columns:5

In [56]:
#3.Display all the row numbers (i.e. record numbers) that have the 5th column less than 0.
Iris.loc[Iris[4] < 0]

      0   1   2   3   4
10    2  16  31  48 -10
23   15  45  29  60 -12
58    2  13  35  55 -10
89   12  47  28  61 -12
108  13  52  30  67 -11
136  18  63  29  73 -11

In [57]:
#4.Remove the rows with the 5th column less than 0 from the “Iris” matrix.
Iris = Iris.loc[Iris[4] >= 0]
Iris.head(10)

    0   1   2   3  4
0   2  14  33  50  0
1  24  56  31  67  1
2  23  51  31  69  1
3   2  10  36  46  0
4  20  52  30  65  1
5  19  51  27  58  1
6  13  45  28  57  2
7  16  47  33  63  2
8  17  45  25  49  1
9  14  47  32  70  2

In [58]:
#5.Display total number of rows and total number of columns of the “Iris” matrix again.
rows = Iris.shape[0]
cols = Iris.shape[1]
print("Total number of rows:" + str(rows))
print("Total number of columns:" + str(cols))

Total number of rows:144
Total number of columns:5

In [59]:
#6.Copy the first 4 columns in the new “Iris” matrix into a new matrix “X”.
selected_columns = Iris[[0, 1, 2, 3]]
X = selected_columns.copy()
X.head()

    0   1   2   3
0   2  14  33  50
1  24  56  31  67
2  23  51  31  69
3   2  10  36  46
4  20  52  30  65

In [60]:
#7.Copy the 5th columns in the new “Iris” matrix into a new variable (or matrix) “Y”.
select = Iris[[4]]
Y = select.copy()
Y.head()

   4
0  0
1  1
2  1
3  0
4  1

In [61]:
#8.Display the maximum value and the minimum value of EACH column in “X”.
col0 = X[[0]]
col0_max_value = col0.max()
col0_min_value = col0.min()
print('Max value of column' + str(col0_max_value))
print('Min value of column' + str(col0_min_value))

Max value of column0    25
dtype: int64
Min value of column0    1
dtype: int64

In [62]:
col1 = X[[1]]
col1_max_value = col1.max()
col1_min_value = col1.min()
print('Max value of column' + str(col1_max_value))
print('Min value of column' + str(col1_min_value))

Max value of column1    69
dtype: int64
Min value of column1    10
dtype: int64

In [63]:
col2 = X[[2]]
col2_max_value = col2.max()
col2_min_value = col2.min()
print('Max value of column' + str(col2_max_value))
print('Min value of column' + str(col2_min_value))

Max value of column2    44
dtype: int64
Min value of column2    20
dtype: int64

In [64]:
col3 = X[[3]]
col3_max_value = col3.max()
col3_min_value = col3.min()
print('Max value of column' + str(col3_max_value))
print('Min value of column' + str(col3_min_value))

Max value of column3    79
dtype: int64
Min value of column3    43
dtype: int64

In [65]:
#9.Display total number of elements (i.e. items) in the third column of the matrix “X” that are greater than 36.
column2 = X[2]
count = 0
for i in column2 :
    if i > 36 :
        count = count + 1
print ("Total number of elements in third column greater than 36 : " + str(count))

Total number of elements in third column greater than 36 : 15